<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>PricesKenya</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="{% static 'finalapp/barstyle.css' %}" type="text/css">

<style>
 .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


</style>
</head>
<body>


<ul>
  <li><a href="#">PricesKenya</a></li>
</ul>

<form action="/searchresult/" class="search-wrapper cf" method="POST" >{% csrf_token %}
        {{form}}
        <button type="submit" onclick="loader()">Search</button>
    </form>

<center><p>"Compare Prices <br>Accross Multiple Online Shops" <br>"Save Time And Money"</p>
<div id="loading" class="loader" style="display:none">

</div>
<div id = "load" style="display:none">
<p>Loading data...</p>
</div>

<footer class="w3-row-padding w3-padding-32">
   <p>&copy: PricesKenya</p>
   <b>info@priceskenya.co.ke<br>
    +254772099344</b>
  </footer>
</center>
<script type="text/javascript">
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
          function loader()
          {
               div = document.getElementById('loading')
               div.style.display = "block"
               div2 = document.getElementById('load')
               div2.style.display = "block"
          }

	</script>
</body>
</html>
